.range-slider {
  appearance: none;
  width: 30vw;
  height: 0.3rem;
  background-color: gray;
}
.range-slider::-webkit-slider-thumb {
  appearance: none;
  width: 1rem;
  height: 0.3rem;
  background-color: rgb(209, 213, 219);
  cursor: grab;
}
.volume-range {
  width: 5vw;
  height: 0.3rem;
  /* color: gray; */
  background-color: green;
  border-radius: 50px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
